
html, body {
	background-color: #353D45;
	width: 100%;
	height: 100%;
}

h1 {
	color: #FFFFFF;
	text-align: center;
	font-family: 'Raleway', sans-serif;

}

#map {
	height: 100vh;
}

#info-window {
	width: 40vh;
	height: 50vh;
}

#pano {
	width: 100%;
	height: 60%;
}

#recenter-button {
	margin: 15px;
}

@media ( max-width: 1180px ) {
	font-size: 20px;
}

